### Read in flight data, keep only selected airports and consolidate the csv:s from monthly files to yearly files

In [13]:
import os
import pandas as pd

# Directory containing extracted CSV files
extracted_data_directory = '/workspaces/flight-delay-predictor/data/raw/2022-flight-data'

In [14]:
# List of preselected airport IATA codes
#removed BOS
selected_airports = ['DTW','LAS','PHL','DEN','CLT','SEA','MCO','FLL','IAD','IAH','SFO','EWR','MIA','JFK', 'LAX', 'ORD', 'ATL']  # Replace with your desired airport codes
# List to store DataFrames
data_frames = []

# Loop through each extracted CSV file
for filename in os.listdir(extracted_data_directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(extracted_data_directory, filename)
        
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Print column names to inspect the headers
        print(f"Columns in {filename}: {df.columns}")
        
        # Filter data for preselected airports if the columns exist
        if 'ORIGIN' in df.columns and 'DEST' in df.columns:
            filtered_df = df[df['ORIGIN'].isin(selected_airports) & df['DEST'].isin(selected_airports)]
            data_frames.append(filtered_df)
        else:
            print(f"Skipping {filename} - Missing 'ORIGIN' or 'DEST' columns.")

Columns in T_ONTIME_REPORTING_aug.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_nov.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_oct.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_jan.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_mar.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_feb.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_jun.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_apr.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_jul.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_may.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_dec.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')
Columns in T_ONTIME_REPORTING_sep.csv: Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN', 'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_WAC', 'CRS_DEP_TIME', 'DEP_DELAY_NEW', 'CRS_ARR_TIME',
       'DISTANCE'],
      dtype='object')

In [15]:
# Concatenate all DataFrames into one DataFrame
filtered_data = pd.concat(data_frames, ignore_index=True)

In [16]:

filtered_data.to_csv('/workspaces/flight-delay-predictor/data/processed/2022-processed-flight-data.csv', index=False)

### concatenate 2021 and 2022 data, also check for missing values

In [17]:
file_2022_path = '/workspaces/flight-delay-predictor/data/processed/2022-processed-flight-data.csv'
df_2022_filtered = pd.read_csv(file_2022_path)


file_2021_path = '/workspaces/flight-delay-predictor/data/processed/2021-processed-flight-data.csv'
df_2021_filtered = pd.read_csv(file_2021_path)

# Concatenate both DataFrames
concatenated_df = pd.concat([df_2022_filtered, df_2021_filtered], ignore_index=True)

In [18]:
#check amount of missing values for each col
for i in concatenated_df.columns:
    print(i, ": ",concatenated_df[i].isnull().sum())

YEAR :  0
QUARTER :  0
MONTH :  0
DAY_OF_MONTH :  0
DAY_OF_WEEK :  0
FL_DATE :  0
ORIGIN_AIRPORT_ID :  0
ORIGIN :  0
ORIGIN_WAC :  0
DEST_AIRPORT_ID :  0
DEST :  0
DEST_WAC :  0
CRS_DEP_TIME :  0
DEP_DELAY_NEW :  32756
CRS_ARR_TIME :  0
DISTANCE :  0

In [19]:
#Remove missing values for dep_delay_new
df_cleaned = concatenated_df.dropna(subset=['DEP_DELAY_NEW'])

In [20]:
for i in df_cleaned.columns:
    print(i, ": ",df_cleaned[i].isnull().sum())

YEAR :  0
QUARTER :  0
MONTH :  0
DAY_OF_MONTH :  0
DAY_OF_WEEK :  0
FL_DATE :  0
ORIGIN_AIRPORT_ID :  0
ORIGIN :  0
ORIGIN_WAC :  0
DEST_AIRPORT_ID :  0
DEST :  0
DEST_WAC :  0
CRS_DEP_TIME :  0
DEP_DELAY_NEW :  0
CRS_ARR_TIME :  0
DISTANCE :  0

In [21]:
df_cleaned

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_WAC,DEST_AIRPORT_ID,DEST,DEST_WAC,CRS_DEP_TIME,DEP_DELAY_NEW,CRS_ARR_TIME,DISTANCE
0,2022,3,8,1,1,8/1/2022 12:00:00 AM,10397,ATL,34,11057,CLT,36,515,0.0,625,226.0
1,2022,3,8,1,1,8/1/2022 12:00:00 AM,10397,ATL,34,11057,CLT,36,610,0.0,729,226.0
2,2022,3,8,1,1,8/1/2022 12:00:00 AM,10397,ATL,34,11057,CLT,36,720,0.0,835,226.0
3,2022,3,8,1,1,8/1/2022 12:00:00 AM,10397,ATL,34,11057,CLT,36,840,38.0,1000,226.0
4,2022,3,8,1,1,8/1/2022 12:00:00 AM,10397,ATL,34,11057,CLT,36,1000,0.0,1112,226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769053,2021,3,9,30,4,9/30/2021 12:00:00 AM,14771,SFO,91,14747,SEA,93,1630,0.0,1850,679.0
1769054,2021,3,9,30,4,9/30/2021 12:00:00 AM,14771,SFO,91,14747,SEA,93,1800,2.0,2025,679.0
1769055,2021,3,9,30,4,9/30/2021 12:00:00 AM,14771,SFO,91,14747,SEA,93,1910,0.0,2131,679.0
1769056,2021,3,9,30,4,9/30/2021 12:00:00 AM,14771,SFO,91,14747,SEA,93,2004,0.0,2224,679.0
1769057,2021,3,9,30,4,9/30/2021 12:00:00 AM,14771,SFO,91,14747,SEA,93,2100,20.0,2320,679.0

In [22]:
# Change the type of column "FL_DATE" to datetime and remove the time. Currently the format is "MM/DD/YYYY HH:MM:SS AM/PM"
flight_data_processed = df_cleaned.copy()
flight_data_processed['FL_DATE'] = pd.to_datetime(flight_data_processed['FL_DATE'], format='%m/%d/%Y %H:%M:%S %p')
flight_data_processed['FL_DATE'] = flight_data_processed['FL_DATE'].dt.normalize()
flight_data_processed.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_WAC,DEST_AIRPORT_ID,DEST,DEST_WAC,CRS_DEP_TIME,DEP_DELAY_NEW,CRS_ARR_TIME,DISTANCE
0,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,515,0.0,625,226.0
1,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,610,0.0,729,226.0
2,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,720,0.0,835,226.0
3,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,840,38.0,1000,226.0
4,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,1000,0.0,1112,226.0

In [23]:
# Transform the column "CRS_DEP_TIME" to time and save it as "DEPARTURE_TIME". Currently the format is "HHMM"
flight_data_processed['DEPARTURE_TIME'] = pd.to_datetime(flight_data_processed['CRS_DEP_TIME'].astype(str).str.zfill(4), format='%H%M').dt.time
flight_data_processed.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_WAC,DEST_AIRPORT_ID,DEST,DEST_WAC,CRS_DEP_TIME,DEP_DELAY_NEW,CRS_ARR_TIME,DISTANCE,DEPARTURE_TIME
0,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,515,0.0,625,226.0,05:15:00
1,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,610,0.0,729,226.0,06:10:00
2,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,720,0.0,835,226.0,07:20:00
3,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,840,38.0,1000,226.0,08:40:00
4,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,1000,0.0,1112,226.0,10:00:00

In [24]:
# merge FL_DATE (datetime) and CRS_DEP_TIME (datetime) into a single datetime column and set it as the index
flight_data_processed['DEPARTURE_DATETIME'] = pd.to_datetime(flight_data_processed['FL_DATE'].astype(str) + ' ' + flight_data_processed['DEPARTURE_TIME'].astype(str))
# remove the minutes and seconds from DEPARTURE_DATETIME
flight_data_processed['DEPARTURE_DATETIME'] = flight_data_processed['DEPARTURE_DATETIME'].dt.floor('h')
# flight_data_processed.set_index('DEPARTURE_DATETIME', inplace=True)
flight_data_processed.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_WAC,DEST_AIRPORT_ID,DEST,DEST_WAC,CRS_DEP_TIME,DEP_DELAY_NEW,CRS_ARR_TIME,DISTANCE,DEPARTURE_TIME,DEPARTURE_DATETIME
0,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,515,0.0,625,226.0,05:15:00,2022-08-01 05:00:00
1,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,610,0.0,729,226.0,06:10:00,2022-08-01 06:00:00
2,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,720,0.0,835,226.0,07:20:00,2022-08-01 07:00:00
3,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,840,38.0,1000,226.0,08:40:00,2022-08-01 08:00:00
4,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,1000,0.0,1112,226.0,10:00:00,2022-08-01 10:00:00

In [27]:
flight_data_processed.drop('DEPARTURE_TIME', axis=1, inplace=True)

In [28]:
flight_data_processed

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_WAC,DEST_AIRPORT_ID,DEST,DEST_WAC,CRS_DEP_TIME,DEP_DELAY_NEW,CRS_ARR_TIME,DISTANCE,DEPARTURE_DATETIME
0,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,515,0.0,625,226.0,2022-08-01 05:00:00
1,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,610,0.0,729,226.0,2022-08-01 06:00:00
2,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,720,0.0,835,226.0,2022-08-01 07:00:00
3,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,840,38.0,1000,226.0,2022-08-01 08:00:00
4,2022,3,8,1,1,2022-08-01,10397,ATL,34,11057,CLT,36,1000,0.0,1112,226.0,2022-08-01 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1769053,2021,3,9,30,4,2021-09-30,14771,SFO,91,14747,SEA,93,1630,0.0,1850,679.0,2021-09-30 16:00:00
1769054,2021,3,9,30,4,2021-09-30,14771,SFO,91,14747,SEA,93,1800,2.0,2025,679.0,2021-09-30 18:00:00
1769055,2021,3,9,30,4,2021-09-30,14771,SFO,91,14747,SEA,93,1910,0.0,2131,679.0,2021-09-30 19:00:00
1769056,2021,3,9,30,4,2021-09-30,14771,SFO,91,14747,SEA,93,2004,0.0,2224,679.0,2021-09-30 20:00:00
1769057,2021,3,9,30,4,2021-09-30,14771,SFO,91,14747,SEA,93,2100,20.0,2320,679.0,2021-09-30 21:00:00

### DEPARTURE_DATETIME will be used in combining flight data with weather data

In [29]:
flight_data_processed.to_csv('/workspaces/flight-delay-predictor/data/processed/processed_flight_data_2022_and_2021.csv', index=False)